.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#ignore our settings
subgen.env

models/

# Testing
htmlcov/
.coverage
.pytest_cache/
*.pyc
__pycache__/
.tox/

# Virtual environments
.venv/
venv/
env/